* {
    font-family: 'Nanum Gothic', sans-serif;
}

html { font-size:13px;
        min-width: 768px;}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}
/* 알럿창 스타일 추가 정의 */
.swal2-header .swal2-title {
    font-size: 1.4rem !important;
    line-height: 2.4rem;
}

.swal2-icon .swal2-icon-content {
    font-size: 4em !important;
    font-weight: 700 !important;
    border-width: 6px !important;
}

.mytitle {
    width: 100%;
    height: 220px;
    min-width: 800px;

    background-image: url(/static/img/bgTop_whiteRec.png);
    background-color: #C068A8;
    background-position: calc(50% + 200px) 0;
    background-size: auto;
    background-repeat: no-repeat;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 3rem;
}

.mytitle>h1>b {
    top: 3.8rem;
    right: 50%;
    position: absolute;
}

.mytitle>h1>img {
    position: absolute;
    left: calc(50% + 40px);
    top: 10px;
}

.mytitle>button {
    cursor: pointer;
    font-size: calc(1.275rem + .3vw);
    /*z-index: 1061;*/
    width: 180px;
    background-color: #E6C3DC;
    color: #A03383;
    border-radius: 10px;
    border: none;
    padding: 10px 0;
    position: absolute;
    top: 140px;
    right: 65%;
    box-shadow: 1px 3px 0 rgb(0, 0, 0, 0.2);
}

.mytitle>button:active {
    top: 142px;
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.2);
    background-color: #d393c1;
}

.mytitle>.top-menu {
    height: 42px;
    margin: 300px auto 0 auto;
    align-items: center;
}

.mytitle>.top-menu>ul {
    padding: 0;
    margin: 0;
}

.mytitle>.top-menu>ul>li {
    box-sizing: content-box;
    display: inline-block;
    float: left;

    margin: 0 30px;
    list-style: none;
}

.mytitle>.top-menu>ul>li>a {
    cursor: pointer;
    display: block;

    width: 80px;
    font-size: 18px;
    font-weight: 700;
    box-sizing: content-box;
    position: relative;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 10px;
    text-decoration: none;
}

.top-menu>ul>li.all>a {
    background-image: url(/static/img/icon_allView_dark.png);
    background-repeat: no-repeat;
    background-size: 28px;

    color: #4c4c4c;
    text-decoration: none;
    border-bottom: 3px solid #ffffff;
}
.top-menu>ul>li.all>a.active,
.top-menu>ul>li.all>a:hover,
.top-menu>ul>li.all>a:after,
.top-menu>ul>li.all>a:active {
    background-image: url(/static/img/icon_allView.png);
    background-repeat: no-repeat;
    background-size: 28px;

    color: #A03383;
    text-decoration: none;
    border-bottom: 3px solid #A03383;
    transition: all .8s ease-out;
}

.top-menu>ul>li.all>a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #A03383;
    transition: all .3s;
}

.top-menu>ul>li.all>a:before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #A03383;
    transition: all .3s;
}

.top-menu>ul>li.to-buy>a {
    background-image: url(/static/img/icon_tobuy_dark.png);
    background-repeat: no-repeat;
    background-size: 28px;

    color: #4c4c4c;
    border-bottom: 3px solid #ffffff;
}

.top-menu>ul>li.to-buy>a.active,
.top-menu>ul>li.to-buy>a:hover,
top-menu>ul>li.to-buy>a:after,
.top-menu>ul>li.to-buy>a:active {
    background-image: url(/static/img/icon_tobuy.png);
    background-repeat: no-repeat;
    background-size: 28px;

    color: #6720FF;
    border-bottom: 3px solid #6720FF;
    transition: all .8s ease-out;
}

.top-menu>ul>li.to-buy>a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #6720FF;
    transition: all .3s;
}

.top-menu>ul>li.to-buy>a:before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #6720FF;
    transition: all .3s;
}

.top-menu>ul>li.hold>a {
    background-image: url(/static/img/icon_hold_dark.png);
    background-repeat: no-repeat;
    background-size: 26px;

    color: #4c4c4c;
    border-bottom: 3px solid #ffffff;
}

.top-menu>ul>li.hold>a.active,
.top-menu>ul>li.hold>a:hover,
.top-menu>ul>li.hold>a:after,
.top-menu>ul>li.hold>a:active {
    background-image: url(/static/img/icon_hold.png);
    background-repeat: no-repeat;
    background-size: 26px;

    color: #C0833C;
    border-bottom: 3px solid #C0833C;
    transition: all .8s ease-out;
}

.top-menu>ul>li.hold>a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #C0833C;
    transition: all .3s;
}

.top-menu>ul>li.hold>a:before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #C0833C;
    transition: all .3s;
}

.top-menu>ul>li.order>a {
    background-image: url(/static/img/icon_cardComplete_dark.png);
    background-repeat: no-repeat;
    background-size: auto;

    color: #4c4c4c;
    border-bottom: 3px solid #ffffff;
}

.top-menu>ul>li.order>a.active,
.top-menu>ul>li.order>a:hover,
.top-menu>ul>li.order>a:after,
.top-menu>ul>li.order>a:active {
    background-image: url(/static/img/icon_cardComplete.png);
    background-repeat: no-repeat;
    background-size: auto;

    color: #089DCC;
    border-bottom: 3px solid #089DCC;
    transition: all .8s ease-out;
}

.top-menu>ul>li.order>a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #089DCC;
    transition: all .3s;
}

.top-menu>ul>li.order>a:before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #089DCC;
    transition: all .3s;
}

.mytitle .btn-logout {
    position: absolute;
    top: 1rem;
    left: 85%;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    background-color: #C068A8;
    box-shadow: none;
    padding: 4px 0;
    width: 6rem;
}
.mytitle .btn-logout:active {
    position: absolute;
    top: 1rem;
    left: 85%;
    color: #C068A8;
    border: 1px solid #C068A8;
    background-color: #ffffff;
}

.mytitle>.top-menu>ul>li>a:hover:after {
    width: 50%
}

.mytitle>.top-menu>ul>li>a:hover:before {
    width: 50%
}

.mycards {
    margin: 0 auto;
    width: 95%;
    max-width: 1300px;
}

.mycards .card {
    background-color: #FAF7F9 !important;
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    border: 0;
    min-width: 180px !important;
    max-height: 500px;
    min-height: 500px;
    margin-top: 2.8rem;
}

.mycards .card-img-top {
    padding-top:.4rem;
    height: 300px;
    object-fit: cover;
}

.mycards .card-header {
    border-bottom: 0;
}
.mycards .card-body {
    padding:1rem 0 0 0;
}

.mycards .card-body p {
    margin-bottom:.8rem !important;
}

.mycards .card-title {
    font-size: 1.2rem;
    font-weight: 700;
    color:#212529;
    width: 95%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.mycards .card-price {
    font-size: 16px;
    font-weight: 400;
    color: #6720ff;
}
.mycards .card-text {
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
    width: 95%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mycards .status-bar {
    display: block;
    height: 3rem;
}

.card-header input:hover,
.status-bar input:active {
    background-color:#ffffff !important;
    box-shadow: 1px 3px 0 rgb(0 0 0 / 20%);
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px;
}
.status-toBuy {
    position: absolute;
    left: 10px;
    top: .6rem;
    text-indent: -999999rem;

    background-color:transparent;
    background-image: url(/static/img/icon_toBuy.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: 2.6rem;
}
.status-hold {
    position: absolute;
    left: 10px;
    top: .6rem;
    text-indent: -999999rem;

    background-color:transparent;
    background-image: url(/static/img/icon_hold.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: 2.6rem;
}
.status-order {
    position: absolute;
    left: 10px;
    top: .8rem;
    text-indent: -999999rem;

    background-color:transparent;
    background-image: url(/static/img/icon_cardComplete.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: 2.6rem;
}

.btn-del {
    background-image: url(/static/img/icon_del.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 2.2rem;
    background-position: center;
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 3.4rem;
}

.btn-modify {
    background-image:url(/static/img/icon_edit.png) ;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 2.2rem;
    background-position: center;
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    text-indent: -9999px;
    position: absolute;
    right: 0.4rem;
}

.btn-detail-pop {
    font-size: 14px;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    float:right;
}
.btn-detail-pop:hover,
.btn-detail-pop:active {
    /*box-shadow: 1px 2px 0 rgb(0 0 0 / 20%);*/
    font-weight: 700;
    color:#ffffff;
    border-color: #6720ff;
    background-color: #6720ff;
}

.icon-status {
    border: 1px solid transparent;
    padding: 0.75rem 0.75rem;
}
.container {
    /*display: flex;*/
    /*position: fixed;*/
    /*background: rgba(0,0,0,.4);*/
    z-index: 1060;
    top: 0;right: 0;bottom: 0;left: 0;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    overflow-x: hidden;
    transition: background-color .1s;
}
.mypost, .mymodifier {
    width: 100%;
    max-width: 600px;
    left: calc(48% - 300px);
    padding: 30px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    display: none;
    position: absolute;
    top: 6.6rem;
    z-index: 1000;
    box-sizing: content-box;
    background-color: #FDFAFC;
    border-radius: 1rem;
    animation: swal2-show .3s;
    height: 78vh;
}

.mymodifier>.card-title,
.mypost>.card-title {
    display: block;
    height: 1.5rem;
    border-bottom: 1px solid #D9D9D9;
}

.mymodifier>.more-title {
    display: block;
    height: 1.5rem;
    border-bottom: 1px solid #D9D9D9;
    padding-left:2.2rem;
}

.mymodifier>.more-title>h5,
.mymodifier>.card-title>h5,
.mypost>.card-title>h5 {
    color: #4c4c4c;
    font-weight: 700;
    line-height: .3rem;
    height: 1.5rem;
    position: relative;
}

.mymodifier>.more-title>button.pop-close,
.mymodifier>.card-title>button.pop-close,
.mypost>.card-title>button.pop-close {
    border: none;
    text-indent: -9999em;
    background-image: url(/static/img/icon_close.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.mymodifier>.form-floating>label,
.mypost>.form-floating>label {
    display: block;
    position: initial;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    padding: 0 0 4px 0;
}

.mymodifier>.form-floating>.form-control,
.mypost>.form-floating>.form-control {
    padding: 6px 8px 8px 8px;
    font-size: 1rem;
    border: 1px solid #A4A4A4;
    border-radius: 8px;
    height: calc(2.85rem + 2px);
}

.mymodifier>.form-floating>.required,
.mypost>.form-floating>.required {
    border-color: #3733FF;
}

.mymodifier>.form-floating>.txt-required,
.mypost>.form-floating>.txt-required {
    color: #FF0000;
    font-size: .8rem;
}

.mymodifier>.form-floating>.txt-info,
.mypost>.form-floating>.txt-info {
    color: #0000FF;
    font-size: .8rem;
}

.mymodifier>.form-floating>.form-url,
.mypost>.form-floating>.form-url {
    width: calc(100% - 4.1rem);
}

.mymodifier>.url-img {
    padding-top: 0.4rem;
    height:fit-content;
    object-fit: cover;
}

.mymodifier .form-floating .url-blue {
    color:#0d6efd;
    word-break: break-all;
}

.mymodifier .form-floating .url-name {
    font-size: 1.2rem;
    font-weight: 700;
    color:#212529;
    display: block;
    word-break: break-all;
}

.mymodifier .form-floating .url-price {
    font-size: 16px;
    font-weight: 400;
    color: #6720ff;
}

.mymodifier .form-floating .url-memo {
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
    display: block;
    word-break: break-all;
}
.mymodifier .form-floating .url-status {
    display: block;
    height:36px;
    width:36px;
}

.mymodifier>.form-floating>textarea.form-control,
.mypost>.form-floating>textarea.form-control {
    height: 122px;
    clear: both;
}

.mymodifier>.form-floating>textarea::placeholder,
.mypost>.form-floating>textarea::placeholder {
    opacity: 1;
    color: #777777;
}

.mymodifier>.form-floating>button.url-check,
.mypost>.form-floating>button.url-check {
    background-image: url(/static/img/btn_check.png);
    background-repeat: no-repeat;
    background-size: 3rem;
    background-color: #ffffff;
    border-radius: 8px;
    border: 0.1rem solid #4d6ffd;
    box-shadow: 1px 3px 1px rgb(0 0 0 / 30%);
    text-indent: -9999em;
    width: 3.1rem;
    height: 3.1rem;
    cursor: pointer;
    float: right;
    margin-top: -3.1rem;
}

.mymodifier>.form-floating>button.url-check:active,
.mypost>.form-floating>button.url-check:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.3);
    background-color: #4949ff;
}

.no_item_list {
    width: 90%;
    height: 300px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-floating {
    margin: 10px auto 15px auto;
}

.mymodifier .btn-dark,
.mypost .btn-dark {
    color: #ffffff;
    background-color: #C068A8 !important;
    border-color: #C068A8 !important;
}

.mymodifier .btn-group,
.mypost .btn-group {
    display: flex;
    margin: 20px 87px;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.mymodifier .btn-group input,
.mypost .btn-group input {
    width: 142px;
    font-size: 15px;
}

.mymodifier .btn-group .btn-outline-primary,
.mypost .btn-group .btn-outline-primary {
    color: #333333;
    background-color: #ffffff;
    border-color: #4C6FFD;
    padding:10px 0;
}
.mymodifier .btn-group .btn-outline-primary:hover,
.mymodifier .btn-group .btn-check:active+.btn-outline-primary,
.mymodifier .btn-group .btn-check:checked+.btn-outline-primary,
.mymodifier .btn-group .btn-outline-primary.dropdown-toggle.show,
.mypost .btn-group .btn-outline-primary:hover,
.mypost .btn-group .btn-check:active+.btn-outline-primary, 
.mypost .btn-group .btn-check:checked+.btn-outline-primary,  
.mypost .btn-group .btn-outline-primary.dropdown-toggle.show {
    color: #ffffff;
    background-color: #4C6FFD;
    border-color: #4C6FFD;
}

.mymodifier .btn-group .btn-outline-primary:focus,
.mymodifier .btn-group .btn-outline-primary.active,
.mypost .btn-group .btn-outline-primary:focus,
.mypost .btn-group .btn-outline-primary.active {
    color: #ffffff;
    background-color: #4C6FFD ;
    border-color: #4C6FFD ;
    box-shadow: 0px 0px 0px 4px #abbbff;
}

.scroll {
    display: block;
    padding-top: 10px;
    overflow-y: auto;
    clear: both;
    height: 64vh;
}

.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #D9D9D9;
}

.mybtns>button {
    width: 200px;
    height: 50px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 700;
}

.card-body>input {
    display: block;
}

/* 쉐도우 효과*/
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 500;
}
