<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <title>나의 쇼핑 찜바구니 : 아이디/비밀번호 찾기</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_register.css">

    <script>
        function check_reset_pwd() {
            let user_pwd = $('#user_pwd_input').val()
            let re_user_pwd = $('#re_user_pwd_input').val()

            if (user_pwd == ""){
                alert("사용하실 비밀번호를 입력해 주세요!!")
            } else if (user_pwd != re_user_pwd){
                alert("비밀번호 재확인란에 동일한 비밀번호를 입력해 주세요!!")
            } else {
                reset_pwd(user_pwd)
            }
            return
        }

        function reset_pwd(user_pwd){
            //url에서 user_id를 받아오는 부분
            let query = window.location.search;
            let param = new URLSearchParams(query);
            let user_id = param.get('user_id');

            $.ajax({                                 //변수: url, name, price, memo, status, listId
                type: 'PUT',
                url: '/user/{user_id}/pwd',
                data: {user_id_give: user_id, user_pwd_give:user_pwd},
                success: function (response) {
                    alert(response['msg'])
                    window.location.href='/'
                }
             });
            return
        }
    </script>
</head>

<body>
    <div class="mytitle membership">
        <h1><b>비밀번호 재설정</b><img src="/static/img/img_login.png" alt="membership"></h1>
    </div>
    <div class="mypwd-reset" id="reset_box">
        <div class="form-floating mb-3">
            <label for="user_pwd_input">비밀번호</label>
            <input type="text" class="form-control" id="user_pwd_input" placeholder="name@example.com">
        </div>
        <div class="form-floating mb-3">
            <label for="re_user_pwd_input">비밀번호 재확인</label>
            <input type="text" class="form-control" id="re_user_pwd_input" placeholder="name@example.com">
        </div>
        <div class="mybtns">
            <button onclick="check_reset_pwd()" type="button" class="btn btn-dark">설정완료</button>
            <button onclick="window.location.href='/'" type="button" class="btn btn-outline-dark">로그인 화면</button>
        </div>
    </div>
</body>

</html>
